/* Default styles for desktop */
body {
  background-image: linear-gradient(#8f858f, #830383);
  display: flex;
  justify-content: center;
  align-items: center;
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

/* Styles for mobile devices */
@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
}

/* Styles for smaller mobile devices */
@media (max-width: 400px) {
  body {
    padding: 20px;
  }
}